.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 45px;
  border-radius: 30px 30px 0 0;
  background-color: white;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.channelUserContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  border-radius: 30px;
}

.channelUser-background {
  width: 150px;
  height: 55px;
  border-radius: 100px;
  position: absolute;
  right: 95px;
  cursor: pointer;
  z-index: 0;
}

.channelUser-background-hover {
  background-color: #ECEEFE;
}

.channelUser-background-top {
  width: 150px;
  height: 55px;
  border-radius: 100px;
  opacity: 0;
  position: absolute;
  right: 95px;
  cursor: pointer;
  z-index: 2;
}

.channelUser {
  z-index: 1;
}

.add-user-icon {
  cursor: pointer;
  background-image: url('../../../../assets/img/header/person_add.png');
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ECEEFE;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    background-image: url('../../../../assets/img/header/person_add_hover.png');
  }
}

.profil-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: -20px;
  margin-top: 5px;
  border: 1px solid white;
}

.userNumber {
  font-weight: 600;
  position: absolute;
  top: 12px;
  margin-left: 12px;
  z-index: -5;
}

.tag {
  background-image: url('../../../../assets/img/sidebar/tag.png');
  width: 24px;
  height: 24px;
}

.arrow {
  background-image: url('../../../../assets/img/header/keyboard_arrow_down.png');
  width: 30px;
  height: 30px;
}

.channel-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 30px;
  &:hover {
    background-color: #ECEEFE;
    .channel-name {
      color: #535AF1;
    }
    .tag {
      background-image: url('../../../../assets/img/sidebar/tag_hover.png');
    }
    .arrow {
      background-image: url('../../../../assets/img/header/expand_more.png');
    }
    cursor: pointer;
  }
}

.channel-name {
  font-weight: 700;
}

.user-number {
  font-weight: 600;
  margin-left: 8px;
}

.user-number-hover {
  color:#535AF1;
}

.user-number-container {
  z-index: 1;
}


