@media(max-width: 1000px){
    .channel-userlist-dialog {
        top: 170px;
        left: calc(50vw - 248px);
    }
}

@media(max-width: 495px){
    .channel-userlist-dialog {
        width: 100vw;
        left: 0;
    }

    .userlist, .dialog-title-container {
        width: calc(100vw - 80px);
        transform: translateX(-40px);
    }
}