<div
  class="contentContainer"
  id="messageContainer"
  #messageContainer
  [ngClass]="containerClasses"
>
  <div class="content" #myDiv>
    <!-- <div class="date">
      <span class="spacer"></span>
      <p class="fs-18">Dienstag. 14.Januar</p>
      <span class="spacer"></span>
    </div>

    <div class="date">
      <span class="spacer"></span>
      <p class="fs-18">Today</p>
      <span class="spacer"></span>
    </div> -->

    <div *ngFor="let message of allMessagesSorted" #messageList ng>
      <div *ngIf="message.user === 'resive'">
        <div class="messageResiveContainer">
          <div class="messageResive">
            <div>
              <img src="./../../../../assets/img/profile-imgs/male2.png" />
            </div>
            <div class="messageInfo">
              <div class="messageTitle">
                <div class="messageUserName">
                  <p>{{ message.user }}</p>
                  <p>{{ message.hour }}:{{ message.minute }} Uhr</p>
                </div>

                <div></div>
              </div>
              <span>{{ message.message }}</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="message.user !== 'resive'">
        <div class="messageSendContainer">
          <div></div>
          <div class="messageSend">
            <div class="messageInfo">
              <div class="messageTitle">
                <div></div>
                <div class="messageUserName">
                  <p>{{ message.user }}</p>
                  <p>{{ getFormattedTime(message.hour, message.minute) }}</p>
                </div>
              </div>
              <span>{{ message.message }}</span>
            </div>
            <div class="profileImg">
              <img src="./../../../../assets/img/profile-imgs/male2.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
