<section>
    <img class="logo" src="../../../assets/img/landing-page/DABubble-logo.png" alt="daBubble-logo">

    <div class="signUp-section-p1">

        <a href=""><img class="arrow-back cursor-pointer" [src]="imgSrcArrow"
                (mouseover)="imgSrcArrow = '../../../assets/img/landing-page/arrow-back-hover.png'"
                (mouseout)="imgSrcArrow = '../../../assets/img/landing-page/arrow-back.png'" alt="arrow-back"></a>

        <h1 class="fs-46">Konto erstellen</h1>

        <p style="max-width: 486px; text-align: center;" class="fs-20">Mit deinem Namen und deiner E-Mail-Adresse hast
            du dein neues DABubble-Konto.</p>

        <form [formGroup]="form" class="formfield" action="" (ngSubmit)="onSubmit()">
            <div class="input-container" style="position: relative;">
                <img class="input-icon" src="../../../assets/img/landing-page/person.png" alt="person">
                <input formControlName="name" required class="input-design" placeholder="Name und Nachname" type="text">
                <span *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)"
                    class="error-message">
                    Bitte schreiben Sie einen Namen.
                </span>
            </div>

            <div class="input-container" style="position: relative;">
                <img class="input-icon" src="../../../assets/img/landing-page/mail.png" alt="mail">
                <input formControlName="email" required class="input-design" placeholder="beispielname@email.com"
                    type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                <span *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
                    class="error-message">
                    *Diese E-Mail-Adresse ist leider ungültig.
                </span>
            </div>

            <div class="input-container" style="position: relative;">
                <img class="input-icon-lock" src="../../../assets/img/landing-page/lock.png" alt="lock">
                <input formControlName="password" minlength="6" required class="input-design" placeholder="Passwort"
                    type="password">
                <span
                    *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
                    class="error-message">
                    Das Passwort muss mindestens 6 Zeichen lang sein.
                </span>
            </div>

            <div class="input-container">
                <div class="privacyPolicy-container">
                    <img style="cursor: pointer;" (click)="toggleCheck()" [src]="imgSrcCheck" alt="checkbox-unchecked"
                        (mouseover)="mouseOver()" (mouseout)="mouseOut()">
                    <p class="fs-18">Ich stimme der<a class="fs-18 password-link"
                            href="privacy">Datenschutzerklärung</a>zu.</p>
                </div>

                <span
                    *ngIf="!isClicked"
                    class="error-message">
                    Bitte akzeptieren Sie die Datenschutzrichtlinie.
                </span>
            </div>

            <span class="btn-container">
                <button
                    [ngClass]="{'blue-btn': form.valid && isClicked, 'disabled-btn fs-18': !form.valid || !isClicked}"
                    type="submit">Weiter</button>
            </span>
        </form>
    </div>

    <div class="signUp-section-p2">

    </div>

    <div class="legal-section">
        <a class="fs-18 purp-link" href="impressum">Impressum</a>
        <a class="fs-18 purp-link" href="privacy">Datenschutz</a>
    </div>
</section>