<div class="add-user-to-channel-container" (click)="closeDialog()"
    [ngClass]="{'display-flex': hideOrShowSidebar.addUserToChanelOpen, 'display-none': !hideOrShowSidebar.addUserToChanelOpen }">
    <div class="add-user-to-channel-dialog" (click)="notCloseDialog($event)">
        <div class="dialog-title-container">
            <span class="fs-24 dialog-title">Leute hinzufügen</span>
            <div class="close-button" (click)="closeDialog()"></div>
        </div>
        <div class="select-user-group-container">
            <div>
                @if(this.hideOrShowSidebar.addAllUsersToChannel){
                <div class="select-user-group">
                    <img src="../../../assets/img/sidebar/radio_button_checked.png" class="radio-button">
                    <span>Alle Mitglieder von DevSpace hinzufügen</span>
                </div>
                }@else {
                <div (click)="addAllUser()" class="select-user-group">
                    <img src="../../../assets/img/sidebar/radio_button_unchecked.png" class="radio-button">
                    <span>Alle Mitglieder von DevSpace hinzufügen</span>
                </div>
                }
            </div>
            <div class="select-user-group">
                @if(this.hideOrShowSidebar.addAllUsersToChannel){
                    <div (click)="addSelectedUser()" class="select-user-group">
                        <img src="../../../assets/img/sidebar/radio_button_unchecked.png" class="radio-button">
                        <span>Bestimmte Leute hinzufügen</span>
                    </div>
                    }@else {
                    <div class="select-user-group">
                        <img src="../../../assets/img/sidebar/radio_button_checked.png" class="radio-button">
                        <span>Bestimmte Leute hinzufügen</span>
                    </div>
                    }
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="save" (click)="createChannel()"><span class="fs-18">Erstellen</span></button>
        </div>
    </div>
</div>