.add-user-to-channel-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 3;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.add-user-to-channel-dialog {
    width: 710px;
    height: 279px;
    padding: 40px;
    gap: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.dialog-title-container-addUser {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.dialog-title {
    font-weight: 700;
}

.close-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url('../../../assets/img/create-channel/close_button.png');
    &:hover {
        background-image: url('../../../assets/img/create-channel/close_button_hover.png');
    }
}

.select-user-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 16px;
    cursor: pointer;
}

.button-container-addUser {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap : 10px;
    margin-top: 10px;
}

.save {
    width: 125px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 25px;
    background-color: #444DF2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.radio-button {
    cursor: pointer;
}