@media(max-width: 1000px){
    .dialog {
    border-radius: 30px;
    top : calc(50vh - 266px);
    left: calc(50vw - 228px);
    }
}

@media(max-width: 500px){
    .dialog {
    width: calc(100vw - 100px);
    left: 0;
    right: 0;
    margin: 0 auto;
    }

    .profil-image {
        width: 180px;
        height: 180px;
    }

    .responsive-edit-icon {
        display: block;
        background-image: url('../../../assets/img/sidebar/edit.png');
        width: 24px;
        height: 24px;
        &:active {
            background-image: url('../../../assets/img/sidebar/edit-hover.png');
        }
    }

    .edit {
        display: none;
    }
}

@media(max-width: 400px){
    .dialog {
        padding: 20px 15px 20px 15px;
        width: calc(100vw - 80px);
        }

        .profil-image {
            width: 150px;
            height: 150px;
        }

        .user-name{
            font-size: 25px;
        }
}