.edit-profil-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: red;
    z-index: 3;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}