<div class="edit-profil-container" (click)="closeDialog()" [ngClass]="{'display-flex': hideOrShowPopUp.editProfilOpen, 
'display-none': !hideOrShowPopUp.editProfilOpen }">
    <div class="dialog" (click)="notCloseDialog($event)">
        <div class="header">
            <span class="header-title fs-24">Profil</span>
            <div class="close-button" (click)="closeDialog()"></div>
        </div>
        <div>
            <img class="profil-image" src="../../../assets/img/profile-imgs/male1.png">
        </div>
        <div class="name-container">
            <div class="name-edit">
                <span class="user-name fs-32">Gast</span>
                <span class="edit fs-18">Bearbeiten</span>
            </div>
            <div class="online">
                @if(!userOnline){
                    <div class="online-icon"></div>
                    <span class="fs-20">Aktiv</span>
                }@else {
                    <div class="offline-icon"></div>
                    <span class="fs-20">Abwesend</span>
                }
            </div>
        </div>
        <div class="email-container">
            <div class="email-title-container">
                <img src="../../../assets/img/header/mail (1).png">
                <span class="fs-20 email-adress-title">E-Mail-Adresse</span>
            </div>
            <div>
                <span>{{ userEmail }}</span>
            </div>
        </div>
        <div>
            <img src="">
            <span>Nachricht</span>
        </div>
    </div>
</div>