app-header {
  display: block;
  width: 100%;
  height: 80px;
  background-color: blue;
}
app-sidebar {
  display: block;
  width: 306px;
  padding: 32px 30px;
  background-color: red;
}

app-open-sidebar {
  position: absolute;
}

app-channel {
  display: block;
  background-color: green;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}
