app-header {
  display: block;
  width: 100%;
  height: 115px;
  background-color: blue;
}
app-sidebar {
  display: block;
  width: 366px;
  margin-left: 10px;
}

app-open-sidebar {
  position: fixed;
  bottom: 25px;
}

app-channel {
  display: block;
  background-color: green;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}
