.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 45px;
  border-radius: 20px 20px 0 0;
  background-color: white;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));
  height: 54px;
}

.channelUser {
  img {
    height: 46px;
    margin-left: -10px;
    border-radius: 100%;
    border: 1px solid white;
  }
}
.channelUserContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
  }

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #797ef3;
    font-size: 14px;
    font-weight: 400;
  }
}
