.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); /* Vollständig opak */
  left: 0;
  top: 0;
}

img {
  object-fit: contain;
}

.width {
  width: 80%;
  max-height: 80%;
}

.height {
  height: 80%;
  max-width: 80%;
}

.imgContainer {
  position: relative;
  button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    &:hover {
      background-color: #eceefe;
    }
  }
}
