.contentContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

/* Der Container bleibt über dem Overlay */
.mainContent {
  position: absolute;
  display: flex;
  width: 872px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  background-color: white;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 30px 30px 30px;
  background: white;
  top: 115px;
  left: calc(50vw - 436px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
  }
}

button {
  color: #535af1;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.edit-button {
  span{
    color: #535af1;
  }
  &:hover {
    span {
      font-weight: 700 !important;
    }
  }
}

.content {
  width: 832px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  gap: 20px;
  padding: 20px;
}

.nameHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
span {
  color: #000;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.abandon {
  width: 185px;
  height: 49px;
  padding: 12px 25px 12px 25px;
  gap: 10px;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: #444DF2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #797ef3;;
  }
}

.button-text {
  font-weight: 400;
  color: white;
  white-space: nowrap;
}
