<div class="sidebar-container">
    <div class="header">
        <img src="../../../assets/img/sidebar/Workspace logo.png">
        <span class="title">Devspace</span>
        <img class="edit-button"  src="../../../assets/img/sidebar/edit_square.png">
    </div>
    <div class="menu">
        <div class="channels-container">
            <div class="channels-title-container">
                <div class="channels-title" (mouseover)="hoverChannelTitle()" (mouseout)="hoverEndChannelTitle()" 
                 (click)="activeteChannelTitle()">
                    @if(!hoveredChannelTitle && !activetedChannelTitle){
                        <img src="../../../assets/img/sidebar/Property 1=Default.png">
                    }
                    @if(hoveredChannelTitle && !activetedChannelTitle){
                        <img src="../../../assets/img/sidebar/Property 1=Hover dropdown.png">
                    }
                    @if(activetedChannelTitle && hoveredChannelTitle){
                        <img src="../../../assets/img/sidebar/Property 1=Hover wrap.png">
                    }
                    @if(activetedChannelTitle && !hoveredChannelTitle){
                        <img src="../../../assets/img/sidebar/Property 1=Default 2.png">
                    }
                    
                </div>
                <div class="add-channel-button" (click)="addChannel()">
                </div>
            </div>
            <div class="channel-list" *ngFor="let channel of AllChannels; let i = index">
                <div class="channel" (click)="channelActive(i)">
                    <div class="raute"></div>
                    <span class="channel-title fs-18">{{ channel }}</span>
                </div>
            </div>
        </div>
        <div class="users-container">

        </div>
    </div>
</div>
