<div class="sidebar-container">
    <div class="header">
        <img src="../../../assets/img/sidebar/Workspace logo.png">
        <span class="title">Devspace</span>
        <img class="edit-button"  src="../../../assets/img/sidebar/edit_square.png">
    </div>
    <div class="menu">
        <div class="channels-container">
            <div class="channels-title-container">
                <img src="../../../assets/img/sidebar/arrow_drop_down.png">
                <img class="workspace-icon" src="../../../assets/img/sidebar/workspaces.png">
                <span class="fs-20 channels-title">Channels</span>
                <img class="add-channel-button" src="../../../assets/img/sidebar/19. add.png">
            </div>
            <div class="channel-list">
                <div class="channel">
                    <img src="../../../assets/img/sidebar/tag.png">
                    <span class="channel-title fs-18">Entwicklerteam</span>
                </div>
            </div>
        </div>
        <div class="users-container">

        </div>
    </div>
</div>
