@media(max-width: 1000px){
    .sidebar-container {
        width: 100vw !important;
        max-width: 100% !important;
        border-radius: 0px;
        margin: 0;
    }

    .header {
        display: none;
    }
}