@media(max-width: 1000px){
    .contentContainer {
      display: none;
      margin-right: 0;
    }

    .channel-display-flex {
        display: flex !important;
      }

    .channel-display-none {
      display: none !important;
    }
  }
  