@media (max-width: 1000px) {
  .contentContainer {
    display: none;
    margin-right: 0;
  }

  .channel-display-flex {
    display: flex !important;
  }

  .channel-display-none {
    display: none !important;
  }
  .slide-in-right {
    width: 100%;
  }

  app-thread {
    margin-left: 0;
    width: 100%;
  }

  .thread {
    width: 100% !important;
    transition: none;
  }
}

@media (max-width: 1500px) {
  .contentThreadOpen {
    width: 55% !important;
  }

  .slide-in-right {
    width: 45%;
  }
}
