<div class="content">
  <button (click)="openThread('test')"></button>
  <div class="date">
    <span class="spacer"></span>
    <p class="fs-18">Dienstag. 14.Januar</p>
    <span class="spacer"></span>
  </div>

  <div
    class="messageResive"
    (mouseenter)="mouseover()"
    (mouseleave)="mouseover()"
  >
    <div id="hover" class="d-none">hover</div>
    <div><img src="./../../../../assets/img/profile-imgs/male2.png" /></div>
    <div>
      <div>
        <p>Noah Braun</p>
        <p>14:25 Uhr</p>
      </div>
      <span>Welche Version ist aktuell von Angular?</span>
      <div>
        <a>2 Antworten</a>
        <p>Letzte Antwort 14:56</p>
      </div>
    </div>
  </div>

  <div class="date">
    <span class="spacer"></span>
    <p class="fs-18">Today</p>
    <span class="spacer"></span>
  </div>

  <div class="messageSend">
    <div>
      <div>
        <p>14:25 Uhr</p>
        <p>Noah Braun</p>
      </div>
      <span
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        blandit odio efficitur lectus vestibulum, quis accumsan ante vulputate.
        Quisque tristique iaculis erat, eu faucibus lacus iaculis ac.</span
      >
      <div>
        <a>2 Antworten</a>
        <p>Letzte Antwort 14:56</p>
      </div>
    </div>
    <div class="profileImg">
      <img src="./../../../../assets/img/profile-imgs/male2.png" />
    </div>
  </div>
</div>
