<header>
    <img src="../../../assets/img/sidebar/Bubble-icon.png">
    <app-search-field></app-search-field>
    <app-profil-options-popup></app-profil-options-popup>
    <div class="user-account" (click)="openDialog()">
        <div>
            <span>Gabor</span>
        </div>
        <div class="profil">
            <img class="profil-image" src="../../../assets/img/profile-imgs/male1.png">
            <img class="online-icon" src="../../../assets/img/sidebar/Online.png">
        </div>
        <div class="arrow">
        </div>
    </div>
</header>