<div class="animation-wrapper-global"></div>

<section>
    <div class="animation-wrapper-local">
        <div class="logo-wrapper">
            <img class="animated-logo" src="../../../assets/img/landing-page/animation-step1.png" alt="daBubble-logo">
        </div>
    </div>

    <img class="logo" src="../../../assets/img/landing-page/DABubble-logo.png" alt="daBubble-logo">

    <div class="sign-in-section">
        <p style="padding-right: 10px;" class="fs-18">Neu bei DABubble?</p>
        <a class="fs-18 purp-link" href="">Konto erstellen</a>
    </div>

    <div class="login-section">
        <h1 class="fs-46">Anmeldung</h1>

        <p style="max-width: 486px; text-align: center;" class="fs-20">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

        <form class="formfield" action="">
            <div style="position: relative;">
                <img class="input-icon" src="../../../assets/img/landing-page/mail.png" alt="">
                <input class="input-design" placeholder="beispielname@email.com" type="text">
                <span class="d-none">*Diese E-Mail-Adresse ist leider ungültig</span>
            </div>

            <div style="position: relative;">
                <img class="input-icon-lock" src="../../../assets/img/landing-page/lock.png" alt="">
                <input class="input-design" placeholder="Passwort" type="password">
                <span class="d-none">Falsches Passwort. Bitte noch einmal versuchen</span>
            </div>

            <a class="fs-18 password-link" href="">Passwort vergessen?</a>

            <div class="separator">
                <div class="grey-line"></div>
                <p class="fs-18">ODER</p>
                <div class="grey-line"></div>
            </div>

            <button class="login-google-btn cursor-pointer fs-18"><img src="../../../assets/img/landing-page/Google.png" alt="">Anmelden mit Google</button>

            <span class="btn-container">
                <button class="blue-btn fs-18 cursor-pointer">Anmelden</button>
                <button class="white-btn fs-18 cursor-pointer">Gäste-Login</button>
            </span>
        </form>
    </div>

    <div class="legal-section">
        <a class="fs-18 purp-link" href="">Impressum</a>
        <a class="fs-18 purp-link" href="">Datenschutz</a>
    </div>

</section>