.main-content {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.zindex999 {
    z-index: 998;
}

.logo {
    position: absolute;
    animation: logoSlideOriginal;
    animation-delay: 2500ms;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.legal-section {
    display: flex;
    position: absolute;
    bottom: 30px;
    gap: 16px;
}

.sign-in-section-phone {
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 990;
}

.sign-in-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 30px;
    align-items: end;

    p {
        padding-right: 10px;
    }
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #00000014;
    background-color: #FFFFFF;
    padding: 50px;
    max-width: 606px;
    border-radius: 30px;
    gap: 30px;

    p {
        max-width: 486px;
        text-align: center
    }
}

.formfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.input-design {
    border-radius: 100px;
    background-color: #ECEEFE;
    width: 500px;
    height: 60px;
    cursor: pointer;
    text-indent: 70px;
    border-style: hidden;
    font-size: 18px;
    font-family: Nunito;

    &:hover {
        outline: 1px solid black;
    }

    &:focus {
        outline: 1px solid #444DF2;
    }
}

.grey-line {
    background-color: #ADB0D9;
    height: 1px;
    width: 210px;
}

.input-icon {
    position: absolute;
    left: 25px;
    top: 22px
}

.input-icon-lock {
    position: absolute;
    left: 25px;
    top: 19px
}

.input-icon-reveal {
    position: absolute;
    right: 25px;
    top: 19px;
    height: 25px;
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-google-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 500px;
    height: 60px;
    background-color: #ECEEFE;
    border-radius: 100px;
    gap: 10px;
    border: 1px solid transparent;
    color: #444DF2;
    transition-duration: 0.2s;

    &:hover {
        border: 1px solid #444DF2;
        font-weight: 700;
    }
}

.btn-container {
    display: flex;
    gap: 30px;
}

.password-link {
    text-decoration: none;
    color: #797ef3;
    border: 1px solid transparent;
    padding: 8px;
    transition-duration: 0.2s;

    &:hover {
        font-weight: 700;
        color: #464bdf;
        background-color: #ECEEFE;
        border-radius: 50px;
    }
}

.animation-wrapper-global {
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 997;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: backgroundAnimation;
    animation-delay: 2500ms;
    animation-timing-function: ease-out;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.animation-wrapper-local {
    position: absolute;
    width: 100%;
    height: 100vh;
    animation: backgroundAnimation;
}

.animated-logo {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    animation: logoAnimation;
    animation-delay: 500ms;
    animation-timing-function: ease-out;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    max-width: 100%;
    z-index: -1;
    transform: translateX(30%);
}

.sizeAuto {
    height: auto;
    width: auto;
}

.reveal {
    color: #0000;
    font-weight: 700;
    font-size: 70px;
    background:
        linear-gradient(white 0 0) no-repeat;
    background-size: 0% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: t .5s 1s both;
}

@keyframes t {
    to {
        background-size: 100% 100%
    }
}

.logo-wrapper {
    z-index: 998;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoSlide 500ms ease-in-out 2500ms forwards;
}

.error-message {
    color: red;
    font-size: 14px;
    padding-top: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
}

@keyframes backgroundAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes logoAnimation {
    0% {
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes logoSlide {
    0% {
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 50px;
        left: 30px;
        transform: translate(0, 0);
        z-index: 1;
        height: 70px;
        width: 243px;
        opacity: 0;
    }
}

@keyframes logoSlidePhone {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 5%;
        transform: translate(0, 0);
        z-index: 1;
        height: 50px;
        width: auto;
    }
}

@keyframes logoSlideOriginal {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 50px;
        left: 30px;
        transform: translate(0, 0);
        z-index: 1;
        height: 70px;
        width: 243px;
    }
}

@keyframes logoSlide430px {
    0% {
        opacity: 1;
        top: 50%;
    }

    100% {
        top: 100px;
        opacity: 0; 
    }
}

@keyframes logoSlide375px {
    0% {
        opacity: 1;
        top: 50%;
    }

    100% {
        top: 100px;
        opacity: 0; 
    }
}

@media (max-width: 1360px) {

    .login-section {
        padding: 25px;

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }

        button {
            font-size: 16px;
        }

        input {
            font-size: 16px;
        }
    }

    .sign-in-section {
        p {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }
    }
}

@media (max-width: 650px) {

    .login-section {
        padding: 25px;

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 12px;
        }

        a {
            font-size: 12px;
        }

        button {
            font-size: 12px;
        }

        input {
            font-size: 12px;
        }

        p {
            max-width: 400px;
        }
    }

    .reveal{
        font-size: 50px;
    }

    .sizeAuto{
        width: 100px;
        height: 100px;
    }

    .error-message {
        font-size: 12px;
    }

    .sign-in-section {
        p {
            font-size: 12px;
        }

        a {
            font-size: 12px;
        }
    }

    .legal-section {
        a {
            font-size: 12px;
        }
    }

    .logo {
        animation: logoSlidePhone;
        animation-delay: 2500ms;
        animation-timing-function: ease-in-out;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    .animated-logo {
        height: 50px;
    }

    .input-design {
        width: 400px;
        height: 45px;
        text-indent: 60px;
    }

    .grey-line {
        width: 170px;
    }

    .login-google-btn {
        width: 400px;
        height: 45px;
    }

    .input-icon-reveal {
        top: 11px;
    }

    .input-icon {
        top: 15px;
    }

    .input-icon-lock {
        top: 11px;
    }
}




@media (max-width: 500px) {

    .login-section {
        padding: 25px;
        max-width: 350px;

        p {
            max-width: 300px;
        }
    }

    .reveal{
        font-size: 40px;
    }

    .sizeAuto{
        width: 80px;
        height: 80px;
    }

    .sign-in-section {
        display: none;
    }

    .sign-in-section-phone {
        display: flex;

        p {
            padding-right: 0px;
        }

        a {
            color: #464bdf;
            border: 1px solid #797ef3;
            border-radius: 50px;
            padding: 7px 18px 7px 18px;
        }
    }

    .logo-wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: logoSlide430px 500ms ease-in-out 2500ms forwards;
    }
    

    .logo {
        animation: logoSlidePhone430px !important;
        animation-delay: 2500ms !important;
        animation-timing-function: ease-in-out !important;
        animation-duration: 500ms !important;
        animation-fill-mode: forwards !important;
    }

    .animated-logo {
        height: 50px;
    }

    .input-design {
        width: 300px;
        height: 40px;
    }

    .grey-line {
        width: 122px;
    }

    .login-google-btn {
        width: 300px;
        height: 40px;
    }

    .input-icon {
        top: 13px;
    }

    .input-icon-lock {
        top: 9px;
    }

    .input-icon-reveal {
        top: 8px;
    }

    .formfield {
        gap: 20px;
    }
}

@media (max-width: 375px) {

    .login-section {
        padding: 20px;
        max-width: 300px;
        gap: 10px;

        p {
            max-width: 250px;
        }
    }

    .reveal{
        font-size: 30px;
    }

    .sizeAuto{
        width: 60px;
        height: 60px;
    }

    .sign-in-section {
        display: none;
    }

    .sign-in-section-phone {
        p {
            font-size: 12px;
        }

        a {
            font-size: 12px;
        }
    }

    .logo-wrapper {
        transform: translate(-50%, -50%);
        animation: logoSlide375px;
        animation-delay: 2500ms;
        animation-timing-function: ease-in-out;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    .logo {
        animation: logoSlidePhone375px !important;
        animation-delay: 2500ms !important;
        animation-timing-function: ease-in-out !important;
        animation-duration: 500ms !important;
        animation-fill-mode: forwards !important;
    }

    .animated-logo {
        height: 50px;
    }

    .input-design {
        width: 250px;
        height: 40px;
    }

    .grey-line {
        width: 100px;
    }

    .login-google-btn {
        width: 250px;
        height: 40px;
    }

    .input-icon {
        height: 12px;
        top: 14px;
    }

    .input-icon-lock {
        height: 16px;
        top: 12px;
    }

    .input-icon-reveal {
        top: 12px;
        height: 20px;
    }

    .formfield {
        gap: 10px;
    }

    .legal-section {
        bottom: 10px;
    }
}