.search-field-container {
    position: relative;
    width: 489px;
    height: 70px;
    padding: 0px 50px;
    border-radius: 42px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -140px;
}

input {
    border: none;
    outline: none;
    width: 430px;
    font-size: 18px;
}

img {
    cursor: pointer;
}

.result-container {
    padding: 20px;
    box-shadow: #4f6275 0 20px 30px -10px;
    top: 75px;
    left: 0;
    width: 589px;
    position: absolute;
    z-index: 999;
    background-color: white;
    border-radius: 30px;
    animation: openSearchResult 0.5s forwards;
    max-height: 600px;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}   

.closed-result-container {
    animation: closeSearchResult 0.5s forwards;
    display: none;
}

.highlight {
    background-color: yellow !important;
    font-weight: bold;
  }

  .search-result-avatar{
    height: 32px; 
    width: 32px; 
    object-fit: cover; 
    border-radius: 100%;
  }

  .result-user-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  li {
    width: auto;
    border-radius: 30px;
    padding: 5px;
    &:hover{
        background-color: #ECEEFE;
        cursor: pointer;
    }
  }

@keyframes openSearchResult {
    0% {
        display: flex;
        max-height: 0;
    }

    100% {
        max-height: 40vh;
    }
}

@keyframes closeSearchResult {
    0% {
        max-height: 40vh;
    }

    100% {
        max-height: 0;
        display: none;
    }
}