<div class="search-field-container">
    <input type="text" placeholder="Code learning durchsuchen" (input)="onSearch($event)">
    <img src="../../../../assets/img/header/search.png">

    <div [ngClass]="{'result-container': isSearching, 'closed-result-container': !isSearching}">
        @if (channels.length > 0 || users.length > 0 || messages.length > 0;){

        @if(channels.length > 0){
        <div>
            <h2>Kanale:</h2>
            <ul>
                <li *ngFor="let channel of channels" (click)="onChannelClick(channel.id)">
                    <span class="result" [innerHTML]="highlight(channel.name)"></span>
                </li>
            </ul>
        </div>
        }

        @if (users.length > 0) {
        <h2>Benutzer:</h2>
        <ul>
            <li *ngFor="let user of users" (click)="onUserClick(user.uid)">
                <div class="result-user-container">
                    <img class="search-result-avatar" src="{{user.image}}" alt="">
                    <span [innerHTML]="highlight(user.name)"></span>
                </div>
            </li>
        </ul>
        }

        @if (messages.length > 0) {
        <h2>Nachrichten:</h2>
        <ul>
            <li *ngFor="let message of messages" (click)="onMessageClick(message.channelId, message.id)">
                <div class="result-user-container">

                    <div style="display: flex; align-items: center; gap: 5px;">
                        <img [src]="message.userImage" alt="{{message.username}}" class="search-result-avatar">
                        <span><b>{{ message.username }}:</b></span>
                    </div>

                    <div class="result">
                        <span [innerHTML]="highlight(message.message)"></span>
                    </div>
                </div>
            </li>
        </ul>
        }

        } @else {
        <h2>Es gibt keine Übereinstimmung.</h2>
        }

    </div>

</div>