<div class="search-field-container">
    <input  type="text" placeholder="Code learning durchsuchen" (input)="onSearch($event)">
    <img src="../../../../assets/img/header/search.png">
    
    <div [ngClass]="{'result-container': isSearching, 'closed-result-container': !isSearching}">
        <h2>Channels</h2>
        <ul>
            <li *ngFor="let channel of channels">
                <span [innerHTML]="highlight(channel.name)"></span>
            </li>
        </ul>

        <h2>Users</h2>
        <ul>
            <li *ngFor="let user of users">
                <span [innerHTML]="highlight(user.name)"></span>
                <img style="height: 20px; border-radius: 100%;" src="{{user.image}}" alt="">
            </li>
            
        </ul>

        <h2>Messages</h2>
        <ul>
            <li *ngFor="let message of messages">
                <span [innerHTML]="highlight(message.message)"></span>
            </li>
        </ul>
    </div>
</div>