.search-field-container {
    width: 489px;
    height: 70px;
    padding: 0px 50px;
    border-radius: 42px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -140px;
}

input {
    border: none;
    outline: none;
    width: 430px;
    font-size: 18px;
}

img {
    cursor: pointer;
}

.result-container{
    position: absolute;
    z-index: 999;
    background-color: white;
    border-radius: 30px;
}