<div class="create-channel-container" (click)="closeDialog()"
    [ngClass]="{'display-flex': hideOrShowSidebar.createChannelDialogActive, 'display-none': !hideOrShowSidebar.createChannelDialogActive }">
    <div class="create-channel-dialog" (click)="notCloseDialog($event)">
        <div class="dialog-title-container">
            <span class="fs-24 dialog-title">Channel erstellen</span>
            <div class="close-button" (click)="closeDialog()"></div>
        </div>
        <div class="description">
            <span class="fs-18">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein
                #marketing zum Beispiel.</span>
        </div>
        <div class="channel-name-container">
            <span class="fs-18">Channel-Name</span>
            <input type="text" class="input-field" [(ngModel)]="newChannel.name" [disabled]="loading"
                id="channelDescription" name="channelDescription"  placeholder="Bitte geben Sie mindestens 3 Zeichen ein">
            <img src="../../../assets/img/create-channel/tag.png" class="tag-icon">
        </div>
        <div class="channel-name-container">
            <span class="fs-18">Beschreibung (optional)</span>
            <input type="text" class="input-field" [(ngModel)]="newChannel.description" [disabled]="loading"
                id="channelMessages" name="channelMessages" placeholder="Bitte geben Sie eine Beschreibung an">
            <img src="../../../assets/img/create-channel/tag.png" class="tag-icon">
        </div>
        <div class="button-container">
            <button class="fs-18 add-disabled" *ngIf="!isInputValid()">Erstellen</button>
            <button class="fs-18 add" *ngIf="isInputValid()" (click)="createChannel()" [disabled]="loading">Erstellen</button>
        </div>
    </div>
</div>
<div class="add-user-to-channel-container" (click)="closeDialogAddUser()"
    [ngClass]="{'display-flex': hideOrShowSidebar.addUserToChanelOpen, 'display-none': !hideOrShowSidebar.addUserToChanelOpen }">
    <div class="add-user-to-channel-dialog" (click)="notCloseDialogAddUser($event)">
        <div class="dialog-title-container-addUser">
            <span class="fs-24 dialog-title">Leute hinzufügen</span>
            <div class="close-button" (click)="closeDialogAddUser()"></div>
        </div>
        <div class="select-user-group-container">
            <div>
                @if(this.hideOrShowSidebar.addAllUsersToChannel){
                <div class="select-user-group">
                    <img src="../../../assets/img/sidebar/radio_button_checked.png" class="radio-button">
                    <span>Alle Mitglieder von DevSpace hinzufügen</span>
                </div>
                }@else {
                <div (click)="addAllUser()" class="select-user-group">
                    <img src="../../../assets/img/sidebar/radio_button_unchecked.png" class="radio-button">
                    <span>Alle Mitglieder von DevSpace hinzufügen</span>
                </div>
                }
            </div>
            <div class="select-user-group">
                @if(this.hideOrShowSidebar.addAllUsersToChannel){
                <div (click)="addSelectedUser()" class="select-user-group">
                    <img src="../../../assets/img/sidebar/radio_button_unchecked.png" class="radio-button">
                    <span>Bestimmte Leute hinzufügen</span>
                </div>
                }@else {
                <div class="select-user-group">
                    <img src="../../../assets/img/sidebar/radio_button_checked.png" class="radio-button">
                    <span>Bestimmte Leute hinzufügen</span>
                </div>
                }
            </div>
        </div>
        <div>
            @if(!this.hideOrShowSidebar.addAllUsersToChannel){
                <div class="input-hidden">
                    <div *ngFor="let selectedUser of hideOrShowSidebar.selectedUsers; let i = index" class="selected-user">
                        <div>
                            <img src="{{hideOrShowSidebar.selectedImages[i]}}" class="selected-img">
                        </div>
                        <span>{{ selectedUser }}</span>
                        <img src="../../../assets/img/create-channel/close_button.png" (click)="deleteUser(i)" 
                        class="delete-user-button">
                    </div>
                    <div>
                        <input type="text" class="input-field-add-user-to-channel" id="name" name="name" placeholder="Name"
                        (input)="onSearch($event)">
                        @if(this.hideOrShowSidebar.addSelectedUsersToChannel){
                            <div class="userList" (click)="notCloseDialog($event)">
                                <div *ngFor="let user of filteredUserList; let i = index" class="user" (click)="selectUser(i)">
                                    <img class="profil-image" [src]="filteredImageList[i]">
                                    <img class="online-icon" src="../../../assets/img/sidebar/Online.png">
                                    <span>{{ user }}</span>
                                  </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="button-container-addUser">
            <button type="submit" class="save" (click)="saveChannel()"><span class="fs-18">Erstellen</span></button>
        </div>
    </div>
</div>