<app-header></app-header>

<div class="content">
  <app-sidebar></app-sidebar>
  <app-channel *ngIf="this.channelSelectionService.isChannelOpen()">
  </app-channel>
  <app-direct-messages
    *ngIf="!this.channelSelectionService.isChannelOpen()"
  ></app-direct-messages>
  <app-create-channel></app-create-channel>
  <app-open-sidebar></app-open-sidebar>
  <app-edit-profil></app-edit-profil>
  <app-edit-profil-contactform></app-edit-profil-contactform>
  <app-user-profil></app-user-profil>
  <app-add-user-to-channel></app-add-user-to-channel>
</div>
