@media(max-width: 500px){
    .dialog {
        width: calc(100vw - 120px);
    }
}

@media(max-width: 430px){
    .dialog {
        padding: 20px 15px 20px 15px;
        width: calc(100vw - 60px);
    }
}